html {
    font-family: 'Raleway', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}
h1 {
    font-size: 4.4vw;
    font-weight: 700;
}
h3 {
    font-size: 1.3vw;
    font-weight: 200;
}
li {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: left;
    line-height: 2.5vw;
}
#slogan {
    width: 60%;
    margin: auto auto;
    padding: 3%;
}
#wait {
    width: 60%;
    margin: auto auto;
    padding-top: 4%;
    padding-bottom: 1%;
}
h2 {
    font-size: 2.4em;
    font-weight: 400;
    margin: auto auto;
    padding: 3%;
}

ul img {
    width: 2vw;
    padding-right: 3vw;
    vertical-align: middle;
}
.node, .node-inactive {
	width: 155px;
	height: 59px;
	display: inline-block;
	background-color: #99b742;
	border-radius: 5px;
	margin-right: 10px;
	line-height: 60px;
	position: relative;
}
.node-inactive {
    background-color: #c2c5c3;
}
.row {
    padding: 17px;
    left: 2000px;
    position: absolute;
}
.row img {
	width: 450px;
	margin-top: -10px;
}
.nodeTree {
    width: 500px;
    height: 275px;
    border: 1px solid #99b742;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    left: 2000px;
}

.instructional {
	height: 196px;
	width: 45%;
	margin: 0 auto;
	padding-bottom: 10px;
	list-style-type: none;
}

.instructional li {
    left: 2000px;
    position: absolute;
}
.blurb {
    width: 60%;
    margin: 0 auto;
    line-height: 1.5em;
    padding-bottom: 30px;
    text-align: left;
}
#sectionOne, #sectionTwo, #sectionThree {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	z-index: 100;
	overflow: hidden;
}
#sectionOne {
    height: 100%;
    background: url('assets/back_light.png') no-repeat center center;
    background-size: cover;
}
#sectionTwo {
    background-color: #99b742;
}
#sectionThree {
    background-color: #373535;
}
#sectionFour {
    background-color: #99b742;
    margin: 0 auto;
    width: 100%;
    height: 35%;
    min-height: 250px;
    text-align: center;
    position: relative;
    z-index: 100;
}
#footer {
    background-color: #474746;
    margin: 0 auto;
    width: 100%;
    height: 7%;
    text-align: center;
    position: relative;
    z-index: 100;
}
#footer p {
    margin: 0;
    padding-top: 18px;
    font-size: 15px;
    color: #939392;
}
.bg-left {
    float: left;
    height: 70%;
    margin-top: 40px;
    min-height: 350px;
}
.logo {
    width: 250px;
    margin-top: 10%;
}
.mac-okra {
    width: 700px;
}
.action-bar {
    width: 300px;
    margin: 0 auto;
    height: 35%;
    padding-top: 40px;
}

.signup-btn, .mobile-signup-btn {
	background-color: transparent;
	color: #ffffff;
	height: 50px;
	width: 300px;
	font-size: 24px;
	font-weight: 300;
	border: 1px solid !important;
}

.mobile-signup-btn {
	width: 200px;
	margin-top: -30px;
}

.signup-btn.has-hover:hover, .mobile-signup-btn.has-hover:hover {
	color: #99b742;
}
.next-btn .fa-angle-down {
    font-size: 38px;
}
.next-btn {
    border: 1px solid #ffffff !important;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 88%;
    left: 48%;
}

.mobile-form {
	display: none;
}

.modal-backdrop {
    z-index: 10000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.modal-body {
    width: 40%;
    height: 275px;
    background-color: #ffffff;
    margin: 0 auto;
    position: fixed;
    color: #000000;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    max-width: 500px;
    min-width: 300px;
}
.modal-header {
    color: #595959;
    font-size: 30px;
    text-align: center;
}
.modal-header .fa-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
}
#promise {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}
#mc_embed_signup input:focus {
    border: 2px solid #99b742;
    outline: none;
}
#mc_embed_signup input.email {
    display: block;
    padding: 8px 0;
    text-indent: 5px;
    width: 58%;
    min-width: 90px;
    margin: 20px auto 0 auto;
}
#mc-embedded-subscribe {
    border: 1px solid #99b742;
    padding: 5px 10px;
    font-size: 14px;
    background: transparent;
    color: #99b742;
    font-weight: 700;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#mc-embedded-subscribe:hover {
    color: #ffffff;
    background-color: #99b742;
    cursor: pointer;
}
.clear {
    margin-top: 40px;
    text-align: center;
}
#errorMsg {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
    color: #E41E1E;
    font-weight: 700;
}
#successMsg {
    position: absolute;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: none;
    color: #99b742;
    font-weight: 700;
}
#canvas-path {
    width: 100%;
    height: 100%;
}
/* Utility */

.no-scroll {
    overflow: hidden;
}
.btn-reset {
    outline: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
/*Media Queries*/

@media (min-width: 1015px) {
    .mac-okra {
        width: 700px;
    }
}
@media (min-width: 550px) and (max-width: 890px) {
    .mac-okra {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
@media (max-width: 850px) {
    #mce-EMAIL {
        margin-top: 15px;
    }
}
@media (max-width: 550px) {
    .mac-okra {
        width: 90%;
        margin-bottom: 10px;
    }
    ol {
        width: 100%;
    }
    ol li {
        line-height: normal;
        font-size: 24px;
    }
    h3 {
        font-size: inherit;
    }
    h1 {
        font-size: 42px;
    }
    .clear {
        margin-top: 20px;
        text-align: center;
    }
}
/* iPhone */
@media (max-width: 400px) {
	.mobile-form {
		display: block;
	}

	.signup-btn {
		display: none;
	}

	.nodeTree {
		display: none;
	}
	.instructional {
		width: 90%;
	}
	.instructional li {
		line-height: 46px;
		font-size: 20px;
		position: static;
	}

	.instructional li img {
		width: 18px;
	}

	#row3 img {
		width: 300px;
	}

	.blurb {
		width: 95%;
	}

	#slogan {
		font-size: 20px;
	}

	#sectionOne, #sectionTwo, #sectionThree {
		height: 100%;
	}

	#sectionFour {
		display: none;
	}

	.next-btn {
		display: none;
	}

	.action-bar {
		padding-top: 15px;
	}

	h2 {
		font-size: 1em;
		font-weight: bold;
	}

    .clear {
        margin-top: 40px;
        text-align: center;
    }
}